#contor{

width:98%;

border-bottom: 3px solid black;

border-top: 3px solid black;

}

.bas{

width:98%;

border-bottom: 3px solid black;


}

#block{

width:98%;

border-bottom: 3px solid black;

border-top: 3px  solid black;

border-right: 3px solid black;

}
