
.beige{

position:absolute;

height: 50px;

width:50px;

background-color:RGB(246,184,92);

}



.black{

position:absolute;

height: 50px;

width:50px;

background-color:black;

}



.bleu{

position:absolute;

height: 50px;

width:50px;

background-color:blue;

}


.marron{

position:absolute;

height: 50px;

width:50px;

background-color:RGB(172,100,18);

}


.green{

position:absolute;

height: 50px;

width:50px;

background-color:green;

}

.blue{
position:absolute;

height:50px;

width:50px;

background-color:blue;

}

.rose{
position:absolute;

height:50px;

width:50px;

background-color:RGB(242,120,173);

}

.rouge{

position:absolute;

height:50px;

width:50px;

background-color:red;

}

.voilet{

position:absolute;

height:50px;

width:50px;

background-color:purple;

}

.jaune{

position:absolute;

height:50px;

width:50px;

background-color:yellow;

}

.orange{

position:absolute;

height:50px;

width:50px;

background-color:orange;

}

.gris{

position:absolute;

height:50px;
width:50px;
background-color:silver;

}

.blan{

position:absolute;

height:50px;
width:50px;
background-color:white;


}


#borderblack{

position:absolute;

border: 1px black solid;

}
