

/*
lemenu
*/

ul {


padding: 0;
margin: 0;
list-style: none;
width: 210px;


}



ul li ul li {

display:none;

}


ul li:hover ul li{
padding : 2px; /* pas de marge intérieure */
margin: 5px;

display:inherit;

background-color:gray;

border-right: 3px silver solid;

border-left: 3px silver solid;

border-bottom: 3px silver solid;

border-top: 3px silver solid;

width: 100%;

height: 100%;

display:block;


}

ul li:hover ul li  ul li{

display:none;

}


ul li:hover ul li:hover ul li{

display:block;

  font-size:1em;

}


/*

la semaine

*/

ul li:hover ul li:hover ul li:hover ul li{

display:block;

}


ul li:hover ul li:hover ul li:hover ul li ul li{

display:none;

}

ul li:hover ul li:hover ul li:hover ul li:hover ul li{

display:block;

}


ul li:hover ul li:hover ul li ul li{

display:none;

}


#barre{

width:98%;



}


