
body{
background-color:gray;
}

f{

position:absolute;

top: 150px;
left: 300px; 

}

nav{

background-color:black;

border-right: 3px silver solid;

border-left: 3px silver solid;

border-bottom: 3px silver solid;

border-top: 3px silver solid;

 position:absolute;
  height:600px;
  width: 220px;
  top: 150px;
  left: 5px; 
}



.center{


position:absolute;
top:200px;
left:250px;
padding:2px 5px;
height: 80%;
width: 80%;
}

.centertableau{
 background-color:RGB(51,51,51);
position: absolute;
border-right: 3px black solid;
border-left: 3px black solid;
border-top: 3px black solid;
border-bottom: 3px black solid;

width:50%;
height:7%;
left: 450px;


}

.frompeterit{

position: absolute;
top:200px;
left: 400px;
}
.ligne{
font-size:25px;
position:absolute;
left:320px;
color:white;
}
.blanc{
color:white;
}

.present {
color:white;
position : absolute;
left: 00px;
}

.preterit{
color:white;
position : absolute;
left: 100px;
}


.participe{
color:white;
position: absolute;
left : 200px;
}

.traduction{
color:white;
position:absolute;
left : 300px;
}
.strong{

 font-size:30px;
}


.blancstrong{
color:white;
font-size:30px;
}



header{

background-color:black;
position: absolute;
width:95%;
height:130px;

}

.bordertableau{

border-right: 3px black solid;
border-left: 3px black solid;
border-top: 3px black solid;
border-bottom: 3px black solid;
width:100%;
height:5%;
}

.select{
font-size:15px;
}

.footer{


position:absolute;
bottom:-180px;
left:30%;



}

.blancstrongcenter{

color:white;
font-size: 80px;


}


