

/*
lemenu
*/

ul {


padding: 0;
margin: 0;
list-style: none;
width: 210px;



}



ul li ul li {

display:none;

}


ul li:hover ul li{


display:block;

}

ul li:hover ul li  ul li{

display:none;
}


ul li:hover ul li:hover ul li{

display:block;

}


/*

la semaine

*/

ul li:hover ul li:hover ul li:hover ul li{

display:block;

}


ul li:hover ul li:hover ul li:hover ul li ul li{

display:none;

}

ul li:hover ul li:hover ul li:hover ul li:hover ul li{

display:block;

}


ul li:hover ul li:hover ul li ul li{

display:none;

}


#barre{

width:98%;

border-top: 3px white solid;
border-bottom: 3px white solid;


}


