
#menu{

background-color:black;

border-left: 3px silver solid;

border-right: 3px silver solid;

border-top: 3px  silver solid;

border-bottom: 3px  silver solid;

}


.menu{

width: 95%;

background-color:black;

border-left: 3px silver solid;

border-right: 3px silver solid;

border-top: 3px  silver solid;

border-bottom: 3px  silver solid;

}

#separation{

width:85%;

border-top: 3px silver solid;

border-right: 3px silver solid;

}




.barseparhaut{


}

#barseparbas{


}

.midblancstrong{

color:white;

font-size:20px;

}

 
